h1{
    font-size: smaller;
    text-align: center;
}

p{
    background-color: red;
}

/* Todays Learning : 
1) CSS - Cascading style sheet(provides styling in appearance)
2) Four Factors dependencies:order : inline styles, IDs, (Classes and pseudo-classes) and (elements and pseudo-elements)
3) 1. Specificity: Ye batata hai ki multiple selectors ke beech me kaunsa selector jyada specific hai aur uski property apply hogi.
2. Inheritance: Ye batata hai ki kisi element par agar koi property apply nahi hai to wo property uske parent element se inherit hogi.
3. Cascade: Ye batata hai ki kisi property ke multiple values hain to kaunsa value priority mein apply hoga.
4. Source Order: Ye batata hai ki agar kisi property ke multiple rules hain to kaunsa rule pehle aata hai aur uski value apply hogi. 
4) Methods to add CSS - inline, internal, external
5) Inline css using style attribute
# create alot of confusion - not a good practise to use
6) Internal CSS entered usinng style tag inside head
# Use similar classes, id, tag, elements method to apply style in internal css as done in external css
7) kis element ko style krna hai - selector(e.g. h1)
8) !important - ignores every rule , this will be applied
9) External css - create css file then link css file
# for internal vs external, executed in order. So, Last Mentioned will be last executed, and will be shown
10) Selectors: method to target html element and apply css. It uses: 
# element, id, class, group{without externally defining a group}(directly mention element, id with #, class with ., group using , between group elemts)
 */